  <table id="devices"
    <thead>
      <tr>
        <th>Name</th>
        <th>IP Address</th>
        <th>Port</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @devices.each_with_index do |device, idx| %>
        <tr class="zebra_<%= idx % 2 ? 'even' : 'odd' %>">
          <%= form_for(device) do |f| %>
            <td>
              <span class="show"><%= device.name %></span>
              <span class="edit"><%= f.text_field :name %></span>
            </td>
            <td>
              <span class="show"><%= device.address %></span>
              <span class="edit"><%= f.text_field :address %></span>
            </td>
            <td>
              <span class="show"><%= device.port %></span>
              <span class="edit"><%= f.text_field :port %></span>
            </td>
            <td><span class="edit"><%= f.submit %></span></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
