<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="gt-ie9" lang="en"> <![endif]-->
<!--[if gte IE 9]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'TV Remote' %></title>
    <meta name="description" content="HDHomeRun remote control">
    <meta name="author" content="mildmojo">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" />
    <link href="/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!-- end of .container -->
    </div> <!-- end of #main -->
  </body>
</html>
